<div class="jumbotron">
    <h1 class="display-4">{{post.nombre}}</h1>
    <p class="lead">{{post.texto}}</p>
    <hr class="my-4">
    <h5>Comentarios</h5>
    <ul>
        <li *ngFor="let c of post.comentarios; let i=post">
            <p>{{c.comentario}}</p>
            <p><small><strong>Publicado por: {{c.nombre}}</strong></small></p>
            <p><small>{{c.fecha | date}}</small></p>
        </li>
    </ul>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" attr.data-target="#{{post.nombre}}">
        Comentario
        </button>
      
      <app-comentario [post]="post"></app-comentario>